<image-cropper
  #ImageCropperComponent
  [imageBase64]="data"
  [maintainAspectRatio]="true"
  (imageCropped)="setCropped($event)"
  format="png"
  class="cropper"
></image-cropper>
<div class="row mt-3">
  <div class="col-12">
    <div class="controls w-100 d-flex justify-content-end">
      <button class="btn btn-info m-1" (click)="rotateImg()">
        Rotate
        <i class="fas fa-sync-alt ml-1"></i>
      </button>
      <button class="btn btn-info m-1" (click)="flipVerticalImg()">
        Flip vertical
        <i *ngIf="flipVerticalIcon" class="fas fa-arrow-up ml-1"></i>
        <i *ngIf="!flipVerticalIcon" class="fas fa-arrow-down ml-1"></i>
      </button>
      <button class="btn btn-info m-1" (click)="flipHorizontalImg()">
        Flip horizontal
        <i *ngIf="flipHorizontalIcon" class="fas fa-arrow-right ml-1"></i>
        <i *ngIf="!flipHorizontalIcon" class="fas fa-arrow-left ml-1"></i>
      </button>
      <button class="btn btn-success m-1" (click)="emitCroppedImg()">
        Crop
        <i class="fas fa-crop-alt ml-1"></i>
      </button>
    </div>
  </div>
</div>
