input {
  border-width: 0 0 0.1em;
  border-color: #fff;
  border-style: solid;
}
.panel {
  margin-top: 25vh;
  padding-top: 2vh;
  background-color: grey;
  border-style: solid;
  border-width: 0 0 0.1em;
}
