$fit-bg: #181818;
$fit-secondary: #282828;
$fit-third: #101010;
$fit-text: #ababab;

$fit-blue: #0bf;
$fit-green: #0f2;
$fit-yellow: #dc0;
$fit-orange: #f80;
$fit-red: #f10;
$fit-pink: #c0e;

$fit-dark-blue: #085e7c;
$fit-dark-green: #087c46;
$fit-dark-yellow: #928909;
$fit-dark-orange: #8e5c00;
$fit-dark-red: #7c0808;
$fit-dark-pink: #72087c;
