$fit-bg: #0a0a0c;
$fit-secondary: #33333a;
$fit-text: #ababab;

$fit-blue: #00d5ffe3;
$fit-green: #00ff40e5;
$fit-yellow: #ece401e8;
$fit-orange: #ffa600ea;
$fit-red: #ff1100e3;
$fit-pink: #f700ff;

$fit-dark-blue: #085e7cff;
$fit-dark-green: #087c46;
$fit-dark-yellow: #928909;
$fit-dark-orange: #8e5c00;
$fit-dark-red: #7c0808;
$fit-dark-pink: #72087c;
