/** Primeng Toast */
.ui-toast-message-error {
  background-color: #ff5666 !important;
  border-radius: 5px !important;
}
.ui-toast-message-success {
  background-color: #9bc59d !important;
  border-radius: 5px !important;
}
.ui-toast-message-warn {
  background-color: #fcd757 !important;
  border-radius: 5px !important;
}
.ui-toast-message-info {
  background-color: #1985a1 !important;
  border-radius: 5px !important;
}
.ui-toast-summary {
  color: white;
}
.ui-toast-detail {
  color: white;
}
