<div id="home" class="my-container">
  <div class="row topbar">
    <img src="assets/images/logoh.png" />
    <div class="botonera float-right">
      <div class="btn-botonera" (click)="router.navigateByUrl('/index')">
        <i class="fas fa-home"></i>
      </div>
      <div
        class="btn-botonera"
        (click)="router.navigateByUrl('/index/settings')"
      >
        <i class="fas fa-tools"></i>
      </div>
      <div
        class="btn-botonera"
        (click)="router.navigateByUrl('/index/profile')"
      >
        <i class="fas fa-user"></i>
      </div>
      <div class="btn-botonera" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <app-sidebar-frame
      [display]="displaySidebar"
      (close)="setDisplaySidebar($event)"
    ></app-sidebar-frame>
    <div class="sidebar-trigger" (mouseenter)="setDisplaySidebar(true)">
      <div class="img-frame"></div>
      <img src="assets/images/load1.gif" />
      <p>FitWorld ©</p>
    </div>
    <div
      class="w-100 my-container-frame"
      [@routeAnimations]="prepareRoute(outlet)"
    >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
