@import "../../../styles.scss";

#home {
  .topbar {
    position: relative;
    z-index: 3;
    height: 50px;
    background: $fit-secondary;
    justify-content: start !important;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    img {
      padding-top: 7px;
      height: 47px;
      width: 200px;
      padding-left: 30px;
    }
    .botonera {
      right: 32px;
      display: -webkit-inline-box;
      position: absolute;
      margin-top: 13px;
      .btn-botonera {
        color: $fit-text;
        cursor: pointer;
        .fas {
          font-size: 27px !important;
          padding-left: 13px;
          &:hover {
            transition: 0.5s;
            color: white;
          }
        }
        .fa-sign-out-alt {
          font-size: 30px !important;
          &:hover {
            color: red !important;
          }
        }
      }
    }
  }
  .sidebar-trigger {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $fit-secondary;
    width: 50px;
    z-index: 1;
    p {
      writing-mode: vertical-rl;
      color: $fit-text;
      bottom: 0;
      left: -2px;
      text-orientation: initial;
      position: absolute;
    }
  }
}
