<div class="my-container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="title-container text-center mt-3 mb-5">
        <p class="h1">{{ userService.getUser().username }} settings</p>
      </div>
      <form [formGroup]="formGroup">
        <div class="row justify-content-between">
          <div class="col-4 inputs-container">
            <div class="row">
              <label class="text-white">Username</label>
              <div class="row no-gutters w-100">
                <div class="col-10">
                  <input
                    placeholder="Enter a username"
                    class="form-control"
                    formControlName="username"
                    [ngClass]="{
                      'is-valid': formGroup.controls['username'].valid,
                      'is-invalid':
                        !formGroup.controls['username'].valid &&
                        formGroup.controls['username'].value != null
                    }"
                  />
                </div>
                <div class="col-2">
                  <button
                    class="btn btn-outline-warning block-btn"
                    (click)="handleInputBlock('username')"
                  >
                    <i
                      *ngIf="formGroup.controls['username'].disabled"
                      class="fas fa-lock"
                    ></i>
                    <i
                      *ngIf="!formGroup.controls['username'].disabled"
                      class="fas fa-lock-open"
                    ></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <label class="text-white">Current password</label>
              <div class="row no-gutters w-100">
                <div class="col-10">
                  <input
                    placeholder="Current password"
                    class="form-control"
                    formControlName="currentPassword"
                    [ngClass]="{
                      'is-valid': formGroup.controls['currentPassword'].valid,
                      'is-invalid':
                        !formGroup.controls['currentPassword'].valid &&
                        formGroup.controls['currentPassword'].value != null
                    }"
                  />
                </div>
                <div class="col-2">
                  <button
                    class="btn btn-outline-warning block-btn"
                    (click)="handleInputBlock('currentPassword')"
                  >
                    <i
                      *ngIf="formGroup.controls['currentPassword'].disabled"
                      class="fas fa-lock"
                    ></i>
                    <i
                      *ngIf="!formGroup.controls['currentPassword'].disabled"
                      class="fas fa-lock-open"
                    ></i>
                  </button>
                </div>
              </div>
            </div>

            <div
              class="row mt-3"
              *ngIf="!formGroup.controls['currentPassword'].disabled"
            >
              <label class="text-white">New password</label>
              <div class="row no-gutters w-100">
                <div class="col-12">
                  <input
                    placeholder="Enter a new password"
                    class="form-control"
                    formControlName="password"
                    [ngClass]="{
                      'is-valid': formGroup.controls['password'].valid,
                      'is-invalid':
                        !formGroup.controls['password'].valid &&
                        formGroup.controls['password'].value != null
                    }"
                  />
                </div>
              </div>
            </div>

            <div
              class="row mt-3"
              *ngIf="!formGroup.controls['currentPassword'].disabled"
            >
              <label class="text-white">Repeat your password</label>
              <div class="row no-gutters w-100">
                <div class="col-12">
                  <input
                    placeholder="Repeat your password"
                    class="form-control"
                    formControlName="repeatPassword"
                    [ngClass]="{
                      'is-valid':
                        formGroup.controls['repeatPassword'].value ==
                          formGroup.controls['password'].value &&
                        formGroup.controls['repeatPassword'].value != null,
                      'is-invalid':
                        !(
                          formGroup.controls['repeatPassword'].value ==
                          formGroup.controls['password'].value
                        ) && formGroup.controls['repeatPassword'].value != null
                    }"
                  />
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <label class="text-white">Height</label>
              <div class="row no-gutters w-100">
                <div class="col-10">
                  <input
                    type="number"
                    placeholder="Enter your height"
                    class="form-control"
                    formControlName="height"
                    [ngClass]="{
                      'is-valid': formGroup.controls['height'].valid,
                      'is-invalid':
                        !formGroup.controls['height'].valid &&
                        formGroup.controls['height'].value != null
                    }"
                  />
                </div>
                <div class="col-2">
                  <button
                    class="btn btn-outline-warning block-btn"
                    (click)="handleInputBlock('height')"
                  >
                    <i
                      *ngIf="formGroup.controls['height'].disabled"
                      class="fas fa-lock"
                    ></i>
                    <i
                      *ngIf="!formGroup.controls['height'].disabled"
                      class="fas fa-lock-open"
                    ></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <label class="text-white">Weight</label>
              <div class="row no-gutters w-100">
                <div class="col-10">
                  <input
                    type="number"
                    placeholder="Enter your weight"
                    class="form-control"
                    formControlName="weight"
                    [ngClass]="{
                      'is-valid': formGroup.controls['weight'].valid,
                      'is-invalid':
                        !formGroup.controls['weight'].valid &&
                        formGroup.controls['weight'].value != null
                    }"
                  />
                </div>
                <div class="col-2">
                  <button
                    class="btn btn-outline-warning block-btn"
                    (click)="handleInputBlock('weight')"
                  >
                    <i
                      *ngIf="formGroup.controls['weight'].disabled"
                      class="fas fa-lock"
                    ></i>
                    <i
                      *ngIf="!formGroup.controls['weight'].disabled"
                      class="fas fa-lock-open"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="img-container w-100 mat-elevation-z10">
                <img
                  class="w-100 mr-2"
                  [src]="selectedImage ? selectedImage : defaultImage"
                />
              </div>
            </div>
            <div class="row mt-4 justify-content-center no-gutters">
              <div class="col-10">
                <div class="fileupload w-100 btn btn-outline-info">
                  <input
                    type="file"
                    (change)="handleFileInput($event.target.files)"
                  />
                  Upload image
                  <i class="fas fa-plus-circle pl-1"></i>
                </div>
              </div>
              <div class="col-2" *ngIf="selectedImage">
                <button
                  (click)="selectedImage = null"
                  class="btn btn-outline-danger ml-1"
                >
                  <i class="fas fa-skull"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-5">
          <button
            (click)="updateUser()"
            class="btn btn-lg btn-outline-success mt-5"
          >
            Update profile
            <i class="fas fa-sync-alt pl-2"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
