.my-container {
  .title-container {
    color: #17a2b8;
    border-bottom: 1px solid #17a2b8;
    border-radius: 20px;
  }

  .inputs-container > .row {
    margin: 0 auto;
  }

  .input-desblock {
    label {
      color: whitesmoke;
      float: left;
    }
    .input {
      .form-control {
        float: left;
        width: 85%;
        display: inline-block !important;
      }
      .block-btn {
        display: inline-block;
        float: left;
      }
    }
  }

  .fileupload {
    position: relative;
    overflow: hidden;
  }

  .fileupload input {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 300px;
    height: 200px;
  }

  .img-container {
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
  }
}
