@import "../../../styles.scss";

.my-container {
  .form-container {
    background: $fit-secondary;
    height: 100%;
    padding-top: 40vh;
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn-container {
    width: 100%;
    div {
      width: 100%;
      padding-bottom: 2px;
    }
    .log-button {
      width: 100%;
      background: #555;
      border: none;
    }

    .log-social-media {
      .btn-twitter {
        background-color: #55acee;
        color: white;
        width: 49%;
        float: right;
      }
      .btn-google {
        background-color: #dd4b39;
        color: white;
        width: 49%;
      }
    }
  }

  .front-cover {
    margin: 0 auto !important;
    max-width: 1900px;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/images/zane3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo-holder {
    position: absolute;
    z-index: 3;
    width: 80%;
    margin-top: -350px;
    margin-left: 0px;
    max-width: 380px;
  }

  .link-registro {
    margin-top: 15vh;
    padding-bottom: 1px;
    padding-top: 20px;
    box-shadow: 0px 10px 10px -11px rgba(0, 0, 0, 0.95);
    p {
      color: white;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      &:hover {
        color: $fit-blue !important;
      }
    }
  }

  .form-and-buttons {
    margin-top: 3vh;
  }

  .blockquote {
    color: #b8c4cf;
    width: 800px;
    position: absolute;
    bottom: 0;
    right: 30vw;
  }
}
