@import "../../../../../styles.scss";

#sidebar {
  .ui-sidebar {
    background-color: $fit-secondary;
    border: none;
  }

  .user-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  .pointer-cursor:hover {
    background: #373737;
  }

  .mat-list-item {
    height: 40px;
    border-radius: 3px;
  }
}
