#sidebar {
  .ui-sidebar {
    background-color: #111015;
    border: none;
  }

  .user-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  .pointer-cursor:hover {
    background: #605c726e;
  }
}
