<div id="home" class="my-container">
  <div class="row topbar">
    <img src="assets/images/logoh.png" />
    <div class="botonera float-right">
      <div class="btn-botonera" (click)="router.navigateByUrl('/index/settings')">
        <i class="fas fa-tools"></i>
      </div>
      <div class="btn-botonera" (click)="router.navigateByUrl('/index/profile')">
        <i class="fas fa-user"></i>
      </div>
      <div class="btn-botonera" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <p-sidebar [(visible)]="display" (mouseleave)="display = false">
      Content
    </p-sidebar>
    <div class="sidebar-trigger" (mouseenter)="display = true">
      <div class="img-frame"></div>
      <img (click)="display = true" src="assets/images/load1.gif" />
      <p>FitWorld ©</p>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
