<div class="my-container">
  <div class="row justify-content-center">
    <form formGroup="formGroup">
      <div class="profile-form">
        <div class="username">
          <label>Username</label>
          <input disabled placeholder="Enter a username" class="form-control" />
          <button class="btn btn-success">
            <i class="fas fa-lock"></i>
          </button>
        </div>
        <label>Username</label>
        <input placeholder="Enter a username" class="form-control is-valid" />
        <label>Username</label>
        <input placeholder="Enter a username" class="form-control is-valid" />
        <button class="btn btn-success mt-5">
          Save changes
          <i class="fas fa-save pl-2"></i>
        </button>
      </div>
    </form>
  </div>
</div>
