<div class="my-container justify-content-center">
  <div class="row front-cover">
    <div class="col-8"></div>
    <div class="col-3">
      <form [formGroup]="formGroup">
        <div class="logo-holder">
          <img src="assets/images/logoh.png" />
        </div>
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label>Username</label>
              <input
                placeholder="Enter a username"
                class="form-control"
                formControlName="username"
              />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <div class="row">
              <div class="btn-container mb-2 mt-2">
                <button
                  libParticleEffectButton
                  pType="triangle"
                  pDuration="500"
                  [pParticlesAmountCoefficient]="3"
                  [pHidden]="hidden"
                  (click)="doLogin()"
                  class="btn btn-secondary log-button"
                >
                  Login
                </button>
                <div class="log-social-media">
                  <button
                    (mouseenter)="setAnimation('twitter')"
                    (mouseleave)="setAnimation('twitter')"
                    class="btn btn-twitter"
                  >
                    Twitter
                    <i
                      class="fab fa-twitter ml-1"
                      [ngClass]="{
                        'animated hinge': animateTwitter == true
                      }"
                    ></i>
                  </button>
                  <button
                    (mouseenter)="setAnimation('google')"
                    (mouseleave)="setAnimation('google')"
                    class="btn btn-google"
                  >
                    Google
                    <i
                      class="fab fa-google ml-1"
                      [ngClass]="{
                        'animated rubberBand': animateGoogle == true
                      }"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="text-center mt-3">
              <div (click)="redirectRegister()" class="link-registro">
                <p>Enter the FitWorld</p>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="quote">
        <blockquote class="blockquote text-center">
          <p class="mb-0">
            Man cannot remake himself without suffering, for he is both the
            marble and the sculptor.
          </p>
          <footer class="blockquote-footer">
            <cite title="Source Title">Alexis Carrell</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
