<div *ngIf="routine !== null" class="routine-container">
  <div class="row justify-content-center">
    <div class="col-10 pb-5 mb-5">
      <div class="row mt-4">
        <form [formGroup]="formGroup" class="w-100 main-divs mat-elevation-z4">
          <div class="text-center mt-2 mb-3  w-100 row justify-content-center">
            <p
              #routineName
              *ngIf="routine"
              class="pointer-cursor text-white h3"
              contenteditable="true"
              (blur)="routine.name = routineName.innerText"
            >
              {{ routine.name }}
              <i class="fas fa-pencil-alt icon-small pl-2"></i>
            </p>
          </div>
          <div class="col-12">
            <div class="row justify-content-center pb-4">
              <div class="col-3">
                <mat-form-field class="example-full-width w-100">
                  <input
                    matInput
                    placeholder="Search exercise"
                    formControlName="exerciseName"
                  />
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="w-100">
                  <mat-label>Sort by muscle group</mat-label>
                  <mat-select formControlName="muscleGroup">
                    <mat-option
                      *ngFor="let group of muscleGroups"
                      [value]="group"
                    >
                      {{ group }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-1 pt-3">
                <button
                  class="btn btn-danger mt-2 clear-filter"
                  (click)="clearFilter()"
                >
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="muscle-info col-6">
                <div class="row justify-content-center">
                  <div
                    *ngFor="let muscle of muscleGroups"
                    class="float-left text-white"
                  >
                    <div
                      class="muscle-color float-left"
                      [ngClass]="{
                        'chest-badge': muscle == 'Chest',
                        'back-badge': muscle == 'Back',
                        'legs-badge': muscle == 'Legs',
                        'arms-badge': muscle == 'Arms',
                        'shoulders-badge': muscle == 'Shoulders',
                        'abs-badge': muscle == 'Abs'
                      }"
                    ></div>
                    {{ muscle }}
                  </div>
                </div>
              </div>
            </div>
            <div
              mwlDraggable
              [dropData]="exercise"
              class="exercise mr-2 mb-2"
              *ngFor="let exercise of exercises"
              [ngClass]="{
                'chest-badge': exercise.muscleGroup[0] == 'Chest',
                'back-badge': exercise.muscleGroup[0] == 'Back',
                'legs-badge': exercise.muscleGroup[0] == 'Legs',
                'arms-badge': exercise.muscleGroup[0] == 'Arms',
                'shoulders-badge': exercise.muscleGroup[0] == 'Shoulders',
                'abs-badge': exercise.muscleGroup[0] == 'Abs'
              }"
            >
              {{ exercise.name }}
            </div>
          </div>
        </form>
      </div>

      <div class="row mt-5 mb-5">
        <div class="col-12 main-divs pb-3 mat-elevation-z4">
          <div
            *ngIf="routine"
            class="row justify-content-between pr-1 pl-1"
            cdkDropListGroup
          >
            <div class="day float-left" *ngFor="let day of days">
              <div class="text-center user-select-none">
                {{ day.name }}
              </div>
              <div
                class="day-container pb-3"
                mwlDroppable
                cdkDropList
                (drop)="addExercise($event, day.index)"
                [cdkDropListData]="day.exercises"
                (cdkDropListDropped)="moveExercise($event)"
              >
                <div
                  cdkDrag
                  *ngFor="let exercise of day.exercises; index as i"
                  class="day-container-exercise float-left mat-elevation-z4"
                  [ngClass]="{
                    'chest-badge': exercise.muscleGroup[0] == 'Chest',
                    'back-badge': exercise.muscleGroup[0] == 'Back',
                    'legs-badge': exercise.muscleGroup[0] == 'Legs',
                    'arms-badge': exercise.muscleGroup[0] == 'Arms',
                    'shoulders-badge': exercise.muscleGroup[0] == 'Shoulders',
                    'abs-badge': exercise.muscleGroup[0] == 'Abs'
                  }"
                >
                  <div class="float-left">{{ exercise.name }}</div>
                  <div
                    class="remove-exercise float-right text-center"
                    (click)="removeExercise(day, i)"
                  >
                    <i class="fas fa-times pl-1"></i>
                  </div>
                </div>
              </div>
              <div class="select-day mat-elevation-z4">
                <mat-radio-button #radioDay (click)="selectDay(day)"
                  >Select</mat-radio-button
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="daySelected" class="row mt-5 mb-5">
        <div class="col-12 main-divs">
          <div class="row justify-content-between pb-3">
            <div class="col-3 text-white text-center">
              Exercise
            </div>
            <div class="col-3 text-white text-center">
              Sets
            </div>
            <div class="col-3 text-white text-center">
              Reps
            </div>
            <div class="col-3 text-white text-center">
              Estimated RM%
            </div>
          </div>
          <div
            cdkDropList
            (cdkDropListDropped)="moveExercise($event)"
            [cdkDropListData]="daySelected.exercises"
          >
            <div
              *ngFor="let exercise of daySelected.exercises"
              class="exercise-detail row justify-content-between pb-2 pt-2"
            >
              <div class="col-3 text-white">
                {{ exercise.name }}
              </div>

              <div class="col-3 pl-1 pr-1">
                <div
                  contenteditable="true"
                  class="text-white text-right editable-field pr-2"
                >
                  5
                </div>
              </div>

              <div class="col-3 pl-1 pr-1">
                <div
                  contenteditable="true"
                  class="text-white text-right editable-field pr-2"
                >
                  5
                </div>
              </div>

              <div class="col-3 pl-1 pr-1">
                <div
                  contenteditable="true"
                  class="text-white text-right editable-field pr-2"
                >
                  65%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-toolbar row justify-content-center mat-elevation-z4">
    <div class="pb-1 pt-1">
      <button
        class="btn btn-outline-danger"
        (click)="router.navigateByUrl('index/routines')"
      >
        Go back <i class="fas fa-chevron-left pl-1"></i>
      </button>
      <button class="btn btn-outline-success ml-3" (click)="saveRoutine()">
        Save routine <i class="fas fa-check pl-1"></i>
      </button>
      <button class="btn btn-outline-info ml-3">
        See log <i class="fas fa-search pl-1"></i>
      </button>
    </div>
  </div>
</div>

<!-- 404 -->
<div *ngIf="routine === null" class="routine-container">
  <div class="row justify-content-center">
    <div class="col-7 text-center pt-5">
      <img src="assets/images/404.png" class="notfound" />
    </div>
  </div>
</div>
