/* CLASES GLOBALS */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("assets/fonts/_fonts.css");

$fitworld-bg: #0a0a0c;

html {
  background: $fitworld-bg;
  body {
    background: $fitworld-bg;
    margin: 0;
    font-family: Roboto, "Rajdhani";
    height: 100%;
  }
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $fitworld-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/** Cursor pointer custom */
.pointer-cursor {
  cursor: pointer;
}

/** Row sense padding */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/** Bootstrap Input */
.form-control {
  background-color: #f3eff5;
}

/** Primeicons */
.pi {
  vertical-align: middle !important;
}

/** Material icons */
.material-icons {
  vertical-align: middle !important;
}

/** Font Awesome */
.fas {
  vertical-align: middle !important;
}

/** Substitut de container de bootstrap */
.my-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/** Per a contenedors dins del frame */
.my-container-frame {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

/** Primeng Toast */
.ui-toast-message-error {
  background-color: #ff5666 !important;
  border-radius: 5px !important;
}
.ui-toast-message-success {
  background-color: #9bc59d !important;
  border-radius: 5px !important;
}
.ui-toast-message-warn {
  background-color: #fcd757 !important;
  border-radius: 5px !important;
}
.ui-toast-message-info {
  background-color: #1985a1 !important;
  border-radius: 5px !important;
}
.ui-toast-summary {
  color: white;
}
.ui-toast-detail {
  color: white;
}

/** Bootstrap input disabled */
.form-control:disabled {
  background-color: #afb1b3 !important;
  border: 1px solid gray !important;
}

/** Bootstrap titles */
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 100 !important;
}

//ICON SIZING
.icon-tiny {
  font-size: 10px !important;
}

.icon-small {
  font-size: 20px !important;
}

.icon-medium {
  font-size: 30px !important;
}

.icon-large {
  font-size: 40px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
