/* CLASES GLOBALS */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  background: #0a0a0c;
  body {
    background: #0a0a0c;
  }
}

.pi {
  vertical-align: middle !important;
}

.material-icons {
  vertical-align: middle !important;
}

.my-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
